/* Core styles */

body {
  margin: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background: #333;
  color: #fff;
  font-size: 1.1em;
  line-height: 1.5;
  text-align: center;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1, h2, h3, p {
  margin: 0;
  padding: 1em 0;
}


/* Header Showcase */

#showcase {
  min-height: 250px;
  color: #fff;
  text-align: center;
}

#showcase .bg-image {
  position: absolute;
  background: #333 url('https://images.pexels.com/photos/1310847/pexels-photo-1310847.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 250px;
  z-index: -1;
  opacity: 0.4;
}

.grid {
  display: grid;  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
}

#logo {
  justify-self: start;
}

#search {
  grid-column: 3;
  justify-self: end;
}

#showcase .rating {
  grid-row: 3;
  grid-column: 3;
  padding-top: 10rem;
}

.rating {
  color: yellow;
}

.content-title {
  grid-column: 2;
  grid-row: 1;
}

#title1 .rating {
  grid-column: 3;
  grid-row: 2;
}
