body,
pre {
	background-color: #333;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

hr {
	border-color: #fff;
}

.position-absolute{
  position: absolute;
}
.grid-cont {
  display: grid;
  grid-template-rows: 80px 100%;
}
